<md-toolbar color="primary">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            LOGO
        </div>
        <div>
            <nav>
                <div>
                    <!--<div *ngIf="auth.authenticated()">-->
                    <button md-button routerLink="/auth/dashboard">Dashboard</button>
                    <button md-button routerLink="/auth/operations">Operation</button>
                    <button md-button routerLink="/auth/travels">Travels</button>
                    <button md-button routerLink="/auth/paymethods">Payment Methods</button>
                    <button md-button routerLink="/auth/categories">Categories</button>
                    <button md-button class="btn btn-primary btn-margin" (click)="auth.logout()">Log Out</button>
                </div>
                <!--<button md-raised-button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>-->
            </nav>
        </div>
    </div>

</md-toolbar>