<md-toolbar color="primary">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            LOGO
        </div>
        <div>
            <nav>
                <div *ngIf="!auth.isAuthenticated()">
                    <button md-button routerLink="/auth/welcome">Welcome</button>
                    <button md-button class="btn btn-primary btn-margin" (click)="auth.login()">Log In</button>
                </div>
                <div *ngIf="auth.isAuthenticated()">
                    <button md-button routerLink="/auth/dashboard">Dashboard</button>
                    <button md-button routerLink="/auth/operations">Operation</button>
                    <button md-button routerLink="/auth/travels">Travels</button>
                    <span *ngIf="auth.isAdmin()">
                        <button md-button routerLink="/auth/paymethods">Payment Methods</button>
                        <button md-button routerLink="/auth/categories">Categories</button>
                    </span>
                    <button md-button routerLink="/auth/profile">Profile</button>
                    <button md-button class="btn btn-primary btn-margin" (click)="auth.logout()">Log Out</button>
                </div>
            </nav>
        </div>
    </div>

</md-toolbar>