<md-toolbar class="dialog-header">
  <span>Create a Pay Method</span>
</md-toolbar>

<form action="" [formGroup]="createPayMethodForm" (ngSubmit)="createPaymethod(createPayMethodForm.value)">
  <md-input-container>
    <input
      #name
      mdInput
      type="email"
      placeholder="Name"
      [formControl]="createPayMethodForm.controls['name']"
      required
      >

      <md-error>
        <span *ngIf="createPayMethodForm.controls.name.invalid">A name is required</span>
      </md-error>
  </md-input-container>
  <button type="submit" md-raised-button [disabled]="createPayMethodForm.invalid || processing">
    <span *ngIf="!this.processing">Create</span>
    <md-spinner *ngIf="this.processing"></md-spinner>
  </button>
</form>
