<md-toolbar class="dialog-header">
    <span>Create a Pay Method</span>
</md-toolbar>
<section class="trip-md-dialog-container">

    <!--<form #form="ngForm" (ngSubmit)="createPaymethod(form.value)" fxLayoutWrap fxLayout="row">
        <md-input-container fxFlex="100">
            <input mdInput placeholder="Name" type="text" name="name" #name="ngModel" [ngModel]="formData.name" required>
            <md-error>
                <span *ngIf="name.errors?.required || form.dirty">A name is required</span>
            </md-error>
        </md-input-container>
        <section fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
            <button type="submit" md-raised-button [disabled]="form.invalid || processing">
            <span *ngIf="!this.processing">Create</span>
            <md-spinner *ngIf="this.processing"></md-spinner>
          </button>
        </section>
    </form>-->

    <form action="" [formGroup]="createPayMethodForm" (ngSubmit)="createPaymethod(createPayMethodForm.value)" fxLayoutWrap fxLayout="row">
        <md-input-container fxFlex="100">
            <input #name mdInput type="email" placeholder="Name" [formControl]="createPayMethodForm.controls['name']" required>

            <md-error>
                <span *ngIf="createPayMethodForm.controls.name.invalid">A name is required</span>
            </md-error>
        </md-input-container>
        <section fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
            <button type="submit" md-raised-button [disabled]="createPayMethodForm.invalid || processing">
        <span *ngIf="!this.processing">Create</span>
        <md-spinner *ngIf="this.processing"></md-spinner>
      </button>
        </section>
    </form>

</section>