/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
html {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #222;
}

.main-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 18px;
}

.category-list-view,
.paymethod-list-view {
    & app-trip-md-card md-card.trip-md-card-1 {
        padding-bottom: 10px;
    }
}

.item-list-view {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.list-item {
    padding: 10px 14px;
    border-radius: 3px;
    background-color: #333333;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 10px;
    color: #ddd;
    .name {
        margin: 0;
        font-weight: 200;
    }
}

.controls-area {
    margin-bottom: 26px;
    .control-group {
        list-style: none;
        margin: 0;
        padding: 0;
        .title {
            margin-right: 6px;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
        li {
            display: inline-block;
            margin-right: 14px;
        }
    }
}

.controlToggle {
    background-color: rgba(255, 255, 255, 0.1);
    md-icon {
        color: rgba(255, 255, 255, 0.2);
    }
    md-button-toggle {
        &.mat-button-toggle-checked {
            background-color: rgba(255, 255, 255, 0.3);
            md-icon,
            span {
                color: #eee;
            }
        }
    }
    .mat-button-toggle-label-content {
        padding: 0 5px;
        line-height: 30px;
        md-icon {
            font-size: 20px;
        }
    }
    &.sortByToggle {
        .mat-button-toggle-label-content {
            padding: 0 10px;
        }
        span {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.filter-input {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.6);
    min-width: 200px;
}

.no-match-search {
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0;
    padding: 10px 14px;
    text-align: center;
    border-radius: 3px;
}

md-spinner.mat-spinner {
    &.mat-spinner {
        width: 28px;
        height: 28px;
        margin: 4px;
    }
    &.spinner-loading-secc {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

md-dialog-container.mat-dialog-container {
    padding: 0;
    .dialog-header {}
    .trip-md-dialog-container {
        padding: 24px;
    }
}

snack-bar-container {
    &.error-toast {
        color: #ff8080;
    }
    &.success-toast {
        color: #47d147;
    }
}

.align-center {
    text-align: center;
}

md-input-container {
    margin-bottom: 10px;
}

.trip-md-card-1.travel-card {
    background-color: #333;
    color: #eee;
    margin: 12px;
    margin-bottom: 15px;
    padding: 0;
    &.travel-card-detail {
        margin: 0;
        margin-bottom: 30px;
        .header {
            padding: 10px 14px;
            .name {
                font-size: 24px;
            }
        }
        .content {
            padding: 20px;
        }
        .title {
            margin: 0 0 8px 0;
            font-size: 14px;
            i {
                font-size: 20px;
            }
        }
        .initial {
            font-size: 13px;
        }
        .capsule {
            padding: 8px 10px;
            .current {
                font-size: 18px;
            }
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .header {
        padding: 8px 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        .name {
            margin: 0;
            font-size: 18px;
            font-weight: 200;
        }
        .dates {
            span {
                color: rgba(255, 255, 255, 0.2);
                font-size: 11px;
                &:first-child span {
                    margin-right: 10px;
                }
                span {
                    font-size: 12px;
                    font-weight: 200;
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
    .content {
        border-top: 1px solid rgba(255, 255, 255, 0.04);
        padding: 16px 16px 12px 16px;
    }
    .title {
        margin: 0 0 6px 0;
        font-weight: 200;
        font-size: 13px;
        i {
            margin-right: 5px;
            font-size: 18px;
        }
    }
    .initial {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
    }
    .tags {
        span {
            display: block;
            padding: 7px;
            text-align: right;
            font-weight: 200;
        }
    }
    .capsule {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 7px 9px;
        border-radius: 4px;
        border-top: 1px solid rgba(0, 0, 0, 0.45);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        p {
            margin: 0;
            font-weight: 200;
        }
        .current {
            padding-bottom: 4px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            color: mediumseagreen;
        }
        .initial {
            padding-top: 6px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    .area-controls {
        padding: 0 16px 10px 16px;
    }
}

.trip-md-card-1.operation-card {
    background-color: #333;
    color: #eee;
    margin: 12px;
    margin-bottom: 15px;
    padding: 10px 12px;
    .title-area {
        margin-bottom: 10px;
        .title {
            font-size: 15px;
            color: orange;
        }
        .date {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.3);
        }
    }
    .middle-area {
        margin-bottom: 10px;
        .cost {
            font-weight: 200;
            font-size: 38px;
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .type-icon {
        md-icon {
            font-size: 20px;
        }
        .income {
            color: green;
        }
        .outcome {
            color: orangered;
        }
    }
    .travel {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.charts_per_paymethod {
    .title {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        margin: 0 0 20px 0;
    }
}