<md-toolbar class="dialog-header">
    <span>Create a Category</span>
</md-toolbar>
<section class="trip-md-dialog-container">

    <form [formGroup]="createCategoryForm" (ngSubmit)="createCategory(createCategoryForm.value)" fxLayoutWrap fxLayout="row">
        <md-input-container fxFlex="100">
            <input mdInput [formControl]="createCategoryForm.controls['name']" type="text" placeholder="Name" required>
            <md-error>
                <span *ngIf="createCategoryForm.controls.name.invalid">A name is required</span>
            </md-error>
        </md-input-container>
        <md-input-container fxFlex="100" *ngIf="false">
            <input mdInput [formControl]="createCategoryForm.controls['pic']" type="text" placeholder="File Icon" required readonly>
            <md-hint align="start">Select below a .PNG file as Category Icon </md-hint>
            <md-error>
                <span *ngIf="createCategoryForm.controls.pic.invalid">A file is required</span>
            </md-error>
        </md-input-container>

        <label *ngIf="false" fxFlex="100" class="mat-raised-button" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom:14px">
            <i class="material-icons">file_upload</i>
            Icon File Upload (.PNG)
            <input type="file" placeholder="" (change)="selectInputFile($event)" hidden accept="image/png">
        </label>

        <section fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
            <button type="submit" md-raised-button color="primary" [disabled]="createCategoryForm.invalid || processing ">
                <span *ngIf="!this.processing ">Create</span>
                <md-spinner *ngIf="this.processing "></md-spinner>
            </button>
        </section>
    </form>
</section>