<md-toolbar class="dialog-header">
    <span>Create a Category</span>
</md-toolbar>
<section class="trip-md-dialog-container">

    <form #form="ngForm" (ngSubmit)="createCategory(createCategoryForm.value)" fxLayoutWrap fxLayout="row">
        <md-input-container fxFlex="100">
            <input mdInput name="name" #name="ngModel" [ngModel]="form.name" type="text" placeholder="Name" required>
            <md-error>
                <span *ngIf="name.invalid">A name is required</span>
            </md-error>
        </md-input-container>
        <!--<input name="archivo" #archivo="ngModel" [ngModel]="archivo" type="text " placeholder="File " required> {{archivo.value}}-->

        <input name="name2" #name2="ngModel" [ngModel]="form.name2" type="file" placeholder="Name" required> {{form.value | json}}


        <section fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
            <button type="submit" md-raised-button [disabled]="form.invalid || processing">
        <span *ngIf="!this.processing">Create</span>
        <md-spinner *ngIf="this.processing"></md-spinner>
      </button>
        </section>
    </form>
</section>