<md-card class="trip-md-card-1 travel-card">
    <a [routerLink]="['/auth/travels/travel']" [queryParams]="travelParams">
        <app-travel-card-content [travel]="travel"></app-travel-card-content>
    </a>
    <div fxLayout="row" fxLayoutAlign="end start" class="area-controls">
            <app-action-button (click)="editTravel(travel.id)" [className]="'edit-button'" [iconName]="'edit'"></app-action-button>
            <app-action-button (click)="deleteTravel(travel)" [className]="'remove-button'" [iconName]="'delete'"></app-action-button>
    </div>
</md-card>