<md-spinner class="spinner-loading-secc" *ngIf="this.processing"></md-spinner>

<app-title-section>
    <span class="title">Categories</span>
    <app-create-button (createEvent)="createCategoryDialog()">
        <span class="button-text"> Create Category</span>
    </app-create-button>
</app-title-section>

<div fxLayout.gt-xs="row" fxLayoutWrap fxLayoutAlign="start start" *ngIf="!this.processing" class="category-list">

    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33.3%" *ngFor=" let category of categories">
        <app-trip-md-card>
            <span class="title-cont" [innerHTML]="category.name"></span>
            <div class="area-controls">
                <app-action-button (click)="deleteCategory(category)" [className]="'remove-button'" [iconName]="'delete'"></app-action-button>
            </div>
        </app-trip-md-card>
    </div>

</div>