<md-spinner class="spinner-loading-secc" *ngIf="this.processing"></md-spinner>

<section class="title-area" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="title-section">Categories</h3>
    <button md-raised-button (click)="createCategoryDialog()"><md-icon>add_circle</md-icon> Create Category</button>
</section>
<div fxLayout.gt-xs="row" fxLayoutWrap fxLayoutAlign="start start" *ngIf="!this.processing">

    <app-category-item fxFlex="100%" fxFlex.gt-xs="33.3%" (updateView)="ngOnInit()" *ngFor=" let category of categories" [category]="category">
    </app-category-item>

</div>