<md-spinner class="spinner-loading-secc" *ngIf="this.processing"></md-spinner>

<section fxLayout="row" fxLayoutAlign="space-between start" *ngIf="!this.processing">
    <section fxFlex="65">
        <md-card class="trip-md-card travel-card travel-card-detail">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <h2 class="name" [innerHTML]="travel.name"></h2>
                <div class="dates">
                    <span>Start: <span [innerHTML]="travel.start_date | date:'EE. MM-d-y'"></span></span>
                    <span>Finish: <span [innerHTML]="travel.finish_date | date:'EE. MM-d-y'"></span></span>
                </div>
            </div>
            <div class="content">
                <div class="table-data" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                    <div fxFlex="15"></div>
                    <div fxFlex="25">
                        <h4 class="title" fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons">credit_card</i> <span>Credit Card</span>
                        </h4>
                    </div>
                    <div fxFlex="25">
                        <h4 class="title" fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons">credit_card</i> <span>Cash</span>
                        </h4>
                    </div>
                    <div fxFlex="25">
                        <h4 class="title" fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons">credit_card</i> <span>Debit Cards</span>
                        </h4>
                    </div>
                    <div fxFlex="15">
                        <div class="tags">
                            <span class="current">Current</span>
                            <span class="initial">Initial</span>
                        </div>
                    </div>
                    <div fxFlex="25">
                        <div class="capsule">
                            <p class="current" [innerHTML]="travel.current_tdc_balance"></p>
                            <p class="initial" [innerHTML]="travel.start_tdc_balance"></p>
                        </div>
                    </div>
                    <div fxFlex="25">
                        <div class="capsule">
                            <p class="current" [innerHTML]="travel.current_cash_balance"></p>
                            <p class="initial" [innerHTML]="travel.start_cash_balance | number"></p>
                        </div>
                    </div>
                    <div fxFlex="25">
                        <div class="capsule">
                            <p class="current" [innerHTML]="travel.current_tdd_balance"></p>
                            <p class="initial" [innerHTML]="travel.start_tdd_balance"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div fxLayout="row" fxLayoutAlign="end start" class="area-controls">
                <button class="edit-button" md-mini-fab (click)="editTravel(travel)"><md-icon>edit</md-icon> </button>
                <button class="remove-button" md-mini-fab (click)="removeTravel(travel)"><md-icon>delete</md-icon> </button>
            </div>-->
        </md-card>

        <section class="charts_per_paymethod" fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="30">
                <h3 class="title">Spent</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.spent.data" [colors]="stats.paymethod.spent.colors" [labels]="stats.paymethod.spent.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
            <div fxFlex="30">
                <h3 class="title">Operations</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.operations.data" [colors]="stats.paymethod.operations.colors" [labels]="stats.paymethod.operations.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
            <div fxFlex="30">
                <h3 class="title">Income</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.income.data" [colors]="stats.paymethod.income.colors" [labels]="stats.paymethod.income.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
        </section>
    </section>
    <section fxFlex="30">
        <h4>Operations</h4>
    </section>
</section>