.travel-card.travel-card-detail {
    margin: 0;
    margin-bottom: 30px;
    .header {
        padding: 10px 14px;
        .name {
            font-size: 24px;
        }
    }
    .content {
        padding: 20px;
    }
    .title {
        margin: 0 0 8px 0;
        font-size: 14px;
        i {
            font-size: 20px;
        }
    }
    .initial {
        font-size: 13px;
    }
    .capsule {
        padding: 8px 10px;
        .current {
            font-size: 18px;
        }
    }
}

.charts_per_paymethod {
    .title {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        margin: 0 0 20px 0;
    }
}