<md-spinner class="spinner-loading-secc" *ngIf="this.processing"></md-spinner>

<section fxLayout="row" fxLayoutAlign="space-between start" *ngIf="!this.processing">
    <section fxFlex="65">
        <md-card class="trip-md-card travel-card travel-card-detail">
            <app-travel-card-content [travel]="travel"></app-travel-card-content>
        </md-card>

        <section class="charts_per_paymethod" fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="30">
                <h3 class="title">Spent</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.spent.data" [colors]="stats.paymethod.spent.colors" [labels]="stats.paymethod.spent.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
            <div fxFlex="30">
                <h3 class="title">Operations</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.operations.data" [colors]="stats.paymethod.operations.colors" [labels]="stats.paymethod.operations.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
            <div fxFlex="30">
                <h3 class="title">Income</h3>
                <div style="display: block">
                    <canvas baseChart [data]="stats.paymethod.income.data" [colors]="stats.paymethod.income.colors" [labels]="stats.paymethod.income.labels" [options]="stats.paymethod.options" [chartType]="stats.paymethod.type" (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
        </section>
    </section>
    <section fxFlex="30">
        <h4>Operations</h4>
    </section>
</section>