<md-spinner class="spinner-loading-secc"
            *ngIf="this.processing"></md-spinner>

<app-title-section>
    <span class="title">Travels</span>
    <app-create-button (createEvent)="createTravelDialog()">
        <span class="button-text"> Create Travel</span>
    </app-create-button>
</app-title-section>

<div fxLayout.gt-xs="row"
     fxLayoutWrap
     fxLayoutAlign="start start"
     *ngIf="!this.processing">
    <app-travel-item fxFlex="100%"
                     fxFlex.gt-xs="50%"
                     (edit)="editTravel($event)"
                     (delete)="deleteTravel($event)"
                     *ngFor="let travel of travels"
                     [travel]="travel"></app-travel-item>
</div>
