<md-spinner class="spinner-loading-secc" *ngIf="!this.profile"></md-spinner>

<section fxLayout="row" fxLayoutAlign="center start" *ngIf="this.profile">
    <md-card fxFlex="100" fxFlex.gt-sm="50" class="trip-md-card-1 profile-card" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="20">
            <img src="{{profile?.picture}}" class="avatar" alt="avatar" style="width:100%;">
        </div>
        <div fxFlex="75">
            <h3 class="name">{{ profile?.name }}</h3>
            <p class="email"><strong>Email:</strong> {{ profile?.email }}</p>
            <p class="nickname"><strong>Nickname:</strong> {{ profile?.nickname }}</p>
        </div>
    </md-card>
</section>