<div fxLayout="row" fxLayoutAlign="center start">
  <md-card fxFlex="50">
      <md-card-title>Register</md-card-title>
      <hr>
      <md-card-content>
        <form action="" fxLayout="row" fxLayoutAlign="space-around start">

          <md-input-container class="" fxFlex="45">
            <input mdInput placeholder="Name" value="">
          </md-input-container>

          <md-input-container class="" fxFlex="45">
            <input type="email" mdInput placeholder="Email" value="">
          </md-input-container>

        </form>
      </md-card-content>
  </md-card>

</div>
