<div fxLayout="row" fxLayoutAlign="center start">
  <md-card fxFlex="100" fxFlex.gt-xs="50">
      <md-card-title>Register <hr></md-card-title>
      
      <form action="" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" >
        <md-card-content fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="space-around start" fxLayoutWrap>

            <md-input-container class="" fxFlex="100" fxFlex.gt-sm="45">
              <input
                #name
                mdInput
                type="text"
                placeholder="Name"
                [formControl]="registerForm.controls['name']"
                required
              >

              <md-error>
                <span *ngIf="registerForm.controls.name.invalid">Field Required</span>
              </md-error>
            </md-input-container>

            <md-input-container class="" fxFlex="100" fxFlex.gt-sm="45">
              <input
                #email
                mdInput
                type="email"
                placeholder="Email"
                [formControl]="registerForm.controls['email']"
                required
              >
              <md-error>
                <span *ngIf="registerForm.controls.email.value === null">Field Required</span>
                <span *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.value != null">Email is not valid</span>
              </md-error>
            </md-input-container>

            <md-input-container class="" fxFlex="100" fxFlex.gt-sm="45">
              <input
                #password
                mdInput
                type="password"
                placeholder="Password"
                [formControl]="registerForm.controls['password']"
                required
              >
              <md-error>
                <span *ngIf="registerForm.controls.password.invalid">Field Required</span>
              </md-error>
            </md-input-container>

            <md-input-container class="" fxFlex="100" fxFlex.gt-sm="45">
              <input
                #confirmPassword
                mdInput
                type="password"
                placeholder="Confirm Password"
                [formControl]="registerForm.controls['confirm-password']"
                required
              >
              <md-error>
                <span *ngIf="registerForm.controls.confirm-password.invalid">Field Required</span>
              </md-error>
            </md-input-container>      
        </md-card-content>

        <div fcLayout="row" fxLayoutAlign="end center">

          <button fxLayout="row" fxLayoutAlign="center center" md-raised-button color="primary" type="submit" [disabled]="!registerForm.valid || savingData">
            <span *ngIf="!savingData">Send</span>
            <md-spinner *ngIf="savingData"></md-spinner>
          </button>

        </div>

      </form>
  </md-card>

</div>
